/*Gener style*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #858585;
}

h1,h2,h3,h4,h5{
    font-weight: 600;
    color: black;
}
  
 
.container{
    width: 1000px;
    margin: 0 auto;
  }


/*UTILITY*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;

}

/*HEADER*/
header{
    margin-bottom: 30px;
   
}

header .brand img {
      width: 165px;
    }

.main-menu{
    margin-top: 40px;
}    
.main-menu li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}
.main-menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #858585;
}
.main-menu li a:hover{
    color: black;
}

/*IMAGE SECTION*/

 .big-bn {
     width: 1000px;
     height: 600px;
     background-image: url( '../img/banner.jpg');
     margin-bottom: 20px;
     filter: brightness(80%);
     
 }  

/*TITLE MAIN*/
.leadership{ 
    margin-bottom: 20px;
   
}

.leadership .heading{
    margin-bottom: 20px;
}
.heading h2{
    font-size: 30px;
}

/*MAIN CONTENT*/
    



/*FOOTER*/
/*footer{
    height: 50px;
    margin-bottom: 100px;
    background: violet;
}
*/
